doctype html
block page 
  -
    const page = page ? page : "";
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F2E homework by Evan
    //css
    link(rel="stylesheet", href="./css/style.css")
  body 
    main
      block content
    //JS
    script(defer src="./plugin/jquery-3.6.0.min.js") 
    script(defer src="./plugin/fesdDB.js")
    script(defer src="./js/global.min.js")
    script(defer src=`./js/${page}.min.js`)