extends ./_template.pug

block page 
  -
    const page = "index";

block content
  nav 
    .photo(data-upload-item="")
      .preview(data-preview="")
      label
        .text.show 大頭貼
        p 請選擇檔案
        input.upload-btn(type="file" title="")

  section.practice-block 
    category-el(breakpoint="1366" arrow="on")
      ul 
        li option1
        li option2
        li option3
        li option4
        li option5
        li option6
        li option7
        li option8
        li option9
        li option10
        li option11
        li option12
        li option13
        li option14
  section.ripple-block 
    ripple-btn.test-button(r4-color="#fff" r4-duration="600" r4-hover="true") ripple
    ripple-btn.test-button(r4-color="#fff" r4-duration="600" r4-hover="true") ripple2
    ripple-btn.test-button(r4-color="#fff" r4-duration="600" r4-hover="true") ripple3
  section.modal-block(data-aost data-aost-fade-up)
    h3 Modal4 + Anchor4 + Aost4 
    .button(onclick="_g.modalOpen()") click
      
  section.category-block(data-aost data-aost-fade-up)
    h3 category slider
    .category-slider
      .wrapper 
        .item.active
          p item1
        .item
          p item2
        .item
          p item3
        .item
          p item4
        .item
          p item5
        .item
          p item6
        .item
          p item7
        .item
          p item8
        .item
          p item9
        .item
          p item10
        .item
          p item11
        .item
          p item12
        .item
          p item13
        .item
          p item14
        .item
          p item15
        .item
          p item16
        .item
          p item17
        .item
          p item18
        .item
          p item19
        .item
          p item20
  section.dropdown-block(data-aost data-aost-fade-up)
    h3 dropdown4 
    .dropdown-group
      dropdown-el(d4-placeholder="下拉選單A" control-elements=".dist" multiple)
        li option1
        li option2
        li option3
        li option4
        li option5
        li option6
      dropdown-el.dist.disabled(d4-placeholder="請先選擇A" d4-value="下拉選單B")
        li option1
        li(data-option="custom-id") option2
        li option3
        li option4
        li option5
        li option6
        li(style="display: none;") 下拉選單B
  //- section.video-block
  //-   h3 Video4 
  //-   .video-group
  //-     .media-box(video-id="XNTE3MTQwMzY3Ng" video-type="youku" video-target video-mode='onPage')
  //-     .media-box(video-id="2kxeL27I2ns" video-type="youtube" video-target)
  //-       img(src="https://picsum.photos/id/496/1410/800", alt="")
  //-     .media-box(video-target video-id="773331943" video-type="vimeo" video-mode='onPage')
  //-       img(src="https://picsum.photos/id/496/1410/800", alt="")




