modern-modal(data-modal-id="work" data-modal-animate="fade-up")
  nav.nav_light_box
    .close-btn(data-modal-close) x
  .container 
    .modal-block.block1(data-aost data-aost-fade-up) block1
    .modal-block.block2(data-aost data-aost-fade-up) block2
    .modal-block.block3(data-aost data-aost-fade-up) block3
    .modal-block.block4(data-aost data-aost-fade-up) block4
    .modal-block.block5(data-aost data-aost-fade-up) block5
    .modal-block.block6(data-aost data-aost-fade-up) block6
    .modal-block.block7(data-aost data-aost-fade-up) block7
    .modal-block.block8(data-aost data-aost-fade-up) block8
    .modal-block.block9(data-aost data-aost-fade-up) block9